.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    align-items: center;
  }
  
  .form_control label {
    margin-bottom: 0.em;
    font-weight: bold;
  }
  
  input{
    text-align: center;
    width: 7%;
    border:solid 2px #7b7b7b;
    border-radius: 10px;

  }
  
  .form_control input::placeholder {
    color: #7b7b7b;
  }