*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  Font-family: Tahoma, Verdana, Segoe, sans-serif;

}

html, body, #root{
  background-color: #efefef;
  height: 100%;
  color: rgb(0, 0, 0);
}



a{
  text-decoration: none;
  color: black;
}

button{
  font-size: 1em;
  padding: .3em;
  cursor: pointer;
  border: solid 2px #000;
  background-color: #9A3333;
  border-radius: 10px !important;
  transition: .5s;
}

button:hover{
  background-color: #9A3333;
  color: #fff;
}

