li {
    list-style: none;
    margin: 0 8rem;
    padding: 1rem;
}
.link{
    color: #f0eded;
    text-decoration: none;
    font-weight: bold;
    transition: .5s;
    padding: .5rem;
    border-radius: 15px;
}

ul {
    width: 1px;
    display: flex;
    margin-top: 16px;
}

img {
    width: 100px;
}

header {
    align-items: center;
    width: 100%;
    background-color: #9A3432;
    display: flex;

}

.links a:hover{
    background-color: #f0eded;
    color: #9A3432;
}


li{
    margin-left: 7em;
    margin-right: auto;
    border-radius: 15px;
}

.current {
    background-color: 9A3333;
    color: white;
    font-weight: bold;
}


