.exibicao{
    width: 100%;
    display: flex;
}

.menu{
    padding-top: 2em;
    width: 20%;
    margin-left: 20px;
    height: auto;

 
}

.produtos{
  
    width: 100%;
}

.paiItem{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    cursor: pointer;
    
}

.item{

    border: solid black 2px;
    border-radius: 20px;
    padding: .5em;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: #9A3333;
    
}

.item:hover{
    background-color: #9A3333;
    color: #fff;
    transition: .5s;
}

.item div{
    width: 20%;
}


.navegacao{
    margin: 1em;
    display: flex;
    
   justify-content:center;
}

.anterior button {
    border: 2px solid rgba(0, 0, 0, 0.726);
    margin: 1em;
    font-weight: bold;
    background-color: #9A3432;
    transition: background-color 0.3s ease; /* Adiciona uma transição suave */
}

.proximo button {
    border: 2px solid rgba(0, 0, 0, 0.508);
    margin: 1em;
    font-weight: bold;
    background-color: #9A3432;
    transition: background-color 0.3s ease; /* Adiciona uma transição suave */
}

/* Adiciona o efeito hover */
.anterior button:hover,
.proximo button:hover {
    background-color: #f7f7f7; /* Altere para a cor desejada durante o hover */
    color: #9A3432;
   
}

