.product{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3em;
}
h3{
    font-weight: 900;
}
.formulario{
    border: solid rgb(133, 33, 33) 3px;
    border-radius:2em ;
    padding: 2em;
    width: 50%;
    text-align: center;
    margin-bottom: 2em;
    
}
p{
    margin-bottom: 1em;
    padding: .5em;
}

input{
    display: flex;
    padding: .5em;
}

button{
  text-align: center;
}

/* Seletor para o select */
.select {
    width: 70%;
    height: 40px;
    border:solid 2px #7b7b7b;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 14px;
    font-family: sans-serif;
    margin-bottom: 10px;
  }
  
  /* Seletor para as opções do select */
  .select option {
    padding: 5px 10px;
    background-color: #fff;
    color: #222;
    font-size: 14px;
  }
  
  /* Seletor para a opção selecionada */
  .select option:hover,
  .select option:focus {
    background-color: #ddd;
    color: #000;
  }
  
  /* Seletor para a seta do select */
  .select:after {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #ccc;
  }
  
  /* Seletor para o drop down do select */
  .select:focus:after {
    border-left-color: #000;
  }

  label{
    font-weight: bold;
    width: 100%;
  }