.pesquisa{
  
    text-align: center;
   
}
.formulario{
    display: flex;
    justify-content: center;
    
    padding-top: 1em;
}

.pesquisa input{
    align-items: center;
    width: 30%;
}

.botao{
    margin-top: 2px;
    margin-left: 3em;
    background-color: #9A3333;
}