.pesquisa{
    margin-top: 2em;
    text-align: center;
   
}
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pesquisa input{

    width: 30%;
}

.botao{
    margin-left: 3em;
}