/* CadastrarRefeicao.module.css */

.meal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.formulario {
  border: solid rgb(133, 33, 33) 3px;
  border-radius: 2em;
  padding: 2em;
  width: 50%;
  text-align: center;
  margin-bottom: 2em;
}

h3 {
  font-weight: 900;
}

p {
  margin-bottom: 1em;
  padding: 0.5em;
}

input {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
}

.error-message {
  color: #dc3545; /* Cor vermelha para mensagens de erro */
  margin-top: 0.5em;
}

button {
  text-align: center;
  padding: 0.5em 1em;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Adicione estilos específicos para o seletor .select, se necessário */
