/* Refeicoes.module.css */
.paiItem {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  
  .item {
    border: solid black 2px;
    border-radius: 20px;
    padding: 0.5em;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: #9A3333;
  }
  
  .item:hover {
    background-color: #9A3333;
    color: #fff;
    transition: 0.5s;
  }
  
  .item div {
    width: 20%;
  }
  